body{
    background-image: url("backgroundhomedesktop.jpg");
    color: #f2f2f2;
    font-family: "Barlow Condensed", sans-serif;
}

header{
    width: 100%;
}

#icon{
    position: relative;
    top: 30px;
    left: 20px;
}

hr{
    width: 45%;
    position: relative;
    left: -320px;
}

nav{
    width: 800px;
    height: 65px;
    background-color: rgba(26, 26, 26,0.3);
    position: relative;
    left: 650px;
    top: -50px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 25px;
    margin-left: 30px;
}


nav ul li a{
    text-decoration: none;
    color: #f2f2f2;
}

nav ul a::after{
    content: '';
    display: block;
    margin-bottom: 20px;
    width: 0%;
    position: relative;
    height: 3px;
    background-color:#f2f2f2;
    bottom: -20px;
    transition: all ease-in-out 250ms;
  }
  
nav ul a:hover::after{
    width: 100%;
  }


#container{
    display: flex;
    flex-direction: row;
}

#first{
    width: 350px;
    height: auto;
    position: relative;
    left: 180px;
    top: 100px;
}

#hover{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 570px;
    top: 180px;
}

#hover:hover{
    background-color: rgba(242, 242, 242, 0.3);
    transition: all ease-in-out 700ms;
}

#explore{
    position: relative;
    left: 52.5px;
    top: 50px;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    color: #000033;
    border-radius: 50%;
    text-align: center;
    border-style: none;
    font-family: garamond;
    font-size: 22px;
}

#first .sentence1{
    font-size: 20px;
    line-height: 1.8;
}

#first .space{
    font-size: 95px;
    margin-left: 10px;
    font-family: garamond;
}

#first .sentence2{
    font-size: 13.5px;
    line-height: 1.8;
}

